
{% block outdated %}
  You're viewing the docs for Prefect {{ config.extra.version_string }}.
  <a href="{{ '../' ~ base_url }}"> 
    <strong>Click here to go to latest.</strong>
  </a>
{% endblock %}

<script type="text/javascript">
  if (outdated) {
    // hide the announce banner if we are showing the outdated banner
    document.addEventListener("DOMContentLoaded", function(event) {
      if (document.querySelector('[data-md-component="outdated"]').getAttribute('hidden') === null) {
        document.querySelector('[data-md-component="announce"]').setAttribute('hidden', '');
      }
    });
  }
</script>