{% extends "base.html" %}
{% block announce %}
<div style="color: white;">
  <a href="https://github.com/PrefectHQ/prefect/blob/main/RELEASE-NOTES.md#release-2712" style="color: #07e798;">
    <strong>Prefect 2.7.12 is live!</strong>
  </a> With custom task and flow run names, support for using loggers outside of flows, and
  <a href="https://github.com/PrefectHQ/prefect/blob/main/RELEASE-NOTES.md#release-2712" style="color: #07e798;">
    <strong>more fixes & enhancements!</strong>
  </a>
</div>

<!-- <div style="color: white;">
    Looking for the 
    <a href="http://docs-v1.prefect.io/" style="color: #07e798;">
      <strong>Prefect 1 docs</strong>
    </a> for Prefect 1 Core and Server? Find them at: 
    <a href="http://docs-v1.prefect.io/" style="color: #07e798;">
      <strong>http://docs-v1.prefect.io/</strong>
    </a>
  </div> -->
{% endblock %}

{% block outdated %}
  You're viewing the docs for Prefect {{ config.extra.version_string }}.
  <a href="{{ '../' ~ base_url }}"> 
    <strong>Click here to view the latest docs.</strong>
  </a>

  <script type="text/javascript">
    // extract the version from the URL
    var version = window.location.pathname.split('/')[1];
    console.log("version is latest!")
    // check if the version is 'latest'
    var showVersionBanner = version !== 'latest';
    
    // hide the announcement bar if we're not showing the latest version of the docs
    // wait until dom is loaded
    document.addEventListener("DOMContentLoaded", function(event) {
      if (showVersionBanner) {
        document.querySelector('[data-md-component="announce"]').setAttribute('hidden', '');
      }
    });
  </script>
{% endblock %}

