{% extends "base.html" %}



{% block analytics %}
{{ super() }}
{% endblock %}

{% block announce %}
<div style="text-align:center">
    <strong>
        Prefect 3 is Generally Available! See the docs at <a href="https://docs.prefect.io" target="_blank">
            docs.prefect.io </a>
    </strong>
</div>

{% endblock %}
{% block outdated %}
  You're viewing the docs for Prefect {{ config.extra.version_string }}.
  <a href="{{ '../' ~ base_url }}"> 
    <strong>Click here to view the latest docs.</strong>
  </a>

  <script type="text/javascript">
    // extract the version from the URL
    var version = window.location.pathname.split('/')[1];
    console.log("version is latest!")
    // check if the version is 'latest'
    var showVersionBanner = version !== 'latest';
    
    // hide the announcement bar if we're not showing the latest version of the docs
    // wait until dom is loaded
    document.addEventListener("DOMContentLoaded", function(event) {
      if (showVersionBanner) {
        document.querySelector('[data-md-component="announce"]').setAttribute('hidden', '');
      }
    });
  </script>
{% endblock %}

